<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dev Recruit | Home</title>
</head>
<body>
<h1>Welcome to Dev Recruit</h1>
<h4>Select which category do you search?</h4>
<form action="/result">
    <input type="text" name="keyword" placeholder="Enter keyword please" autofocus>
    <button>search</button>
</form>
</body>
</html>