<!doctype html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <title>Dev Recruit | Home</title>
</head>
<body>
<main class="container">
    <h1>Welcome to Dev Recruit 🚀</h1>
    <h4>Enter which category do you search?</h4>
    <form action="/result">
        <input type="text" name="keyword" placeholder="Enter keyword please" required autofocus>
        <button type="submit">Search</button>
    </form>
</main>
</body>
</html>